<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <id>central</id>
            <username>dev</username>
            <password>dev_ES2021</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>dev</username>
            <password>dev_ES2021</password>
        </server>
    </servers>
    <profiles>
        <profile>
    <repositories>
        <repository>
            <snapshots>
                <enabled>false</enabled>
            </snapshots>
            <id>central</id>
            <name>es2021</name>
            <url>http://192.168.160.49:8082/artifactory/maven_es2021/</url>
        </repository>
        <repository>
            <snapshots />
            <id>snapshots</id>
            <name>es2021</name>
            <url>http://192.168.160.49:8082/artifactory/maven_es2021/</url>
        </repository>
    </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>es2021</name>
                    <url>http://192.168.160.49:8082/artifactory/maven_es2021/</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>es2021</name>
                    <url>http://192.168.160.49:8082/artifactory/maven_es2021/</url>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>