<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Socket name="Socket" host="192.168.160.87" port="10005">
            <JsonLayout compact="true" eventEol="true" />
        </Socket>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Socket"/>
        </Root>
    </Loggers>
</Configuration>